body{
	cursor: default;
	font-family: 'roboto';
}

.medium{
	font-weight: 500;
}

.header{
	z-index: 3;
	background-color: #e0e0e0;
	margin: -8px -8px 0px -8px;
	height: 560px;
	box-shadow: -10px 0 35px rgba(0,0,0,0.35);	
	position: relative;
	min-width: 100%;

}

/*.div_header{
	border: 1px solid black;
	max-height: 560px;
	position: static;
}
*/

.ssulka{
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: black;
}


.header_logo{
	position: relative;
	top:82px;
	margin-left: 60px;
	
}

.header_logo_img{
	height: 190px;
	position: relative;
	
}

.header_img{
	position: absolute;
	height: 475px;
	bottom: 0px;
	right: 150px; 
	
	position: bottom;
}

.header_font_1{
	font-weight: 100;
	font-size: 100px;
	font-style: italic;
	color: #545454;
	margin-top: 165px;
	margin-left: 130px;
	position: absolute;
}

.header_a{
	position: absolute;;
	font-size: 28.75px;
	margin-left: 400px;
	color: black;
}

.header_font_a{
	text-decoration: none;
	color: black;
}

.header_thin_italic{
	font-weight:  100;
	font-style: italic;
}

.header_black{
	height: 11%;	
	font-weight:  900;
	font-size: 65px;
	/*margin-left: 200px*/;
	position: absolute;
	/*border: 1px solid black;*/
	bottom: 0px;
	margin-left: 320px;
}

/*.main{
	left: 0;
	right: 0;
	min-width: none;
	box-shadow: 0 0 35px rgba(0,0,0,0.35);	
}*/
.div_main{ 
	

	/*border:1px solid white;
	left: 0;
	right: 0;
	min-width: none;
	box-shadow: 0 0 35px rgba(0,0,0,0.35);*/
	/*top: 0;*/
	z-index: 2;
	/*box-shadow: 0 0 35px rgba(0,0,0,0.35); */
	align-content: center;
	min-width: none;
	/*border: 1px solid black;*/
}

.first_page_font_thin{	
	margin: auto;	
	word-wrap: break-word;
	text-align: center;
	font-weight:  100;
	font-size: 87px;
	width: 100%;

	/*border: 1px solid black;*/
	/*border: 1px solid black;*/
	min-height: none;


}

.first_page_text{ 
	margin: auto;
	display: inline-block;
	margin-top: 115px;
	position: relative;
	top: 0px;
	align-items: center;

	
}


.tutu{
	max-width: 100%;
	display: inline-block;
}

.qwe{
	font-size: 0.7em;	
}

.asd{

}

.img_main{	
	height: 430px;
	display: block;
  margin-left: auto;
 margin-right: auto;
 border-radius: 5%;
}

.div_img_main{
	margin-top: 150px;
}

.first_page_text_medium{
	font-weight:  500;
	font-size: 110px;
	text-align: center;
}

.div_first_page_text_medium{
	min-width: none;
	word-wrap: break-word;
}

.interval{
	margin-top: 150px;
}



.main_a{
	 

	opacity: 50%;
	z-index: 2;
	position: fixed;
	/*border: 1px solid black;*/
	bottom: 0px;
	font-size: 28.75px;
	right: 0;
	margin-right: 0px;
	bottom: 200px;
	width: none;
	text-align: right;
}

.footer{
	height: 160px;
	box-shadow: -0px 10px 35px 10px rgba(0,0,0,0.35);
	/*background: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 20%)*/
	z-index: 1;
	background-color: #e0e0e0;
	/*position: relative;*/
	/*margin: 0px -8px -100px -8px;*/
	/*border: 1px solid black;*/
	/*bottom: 0;*/
	position: absolute;
	left: 0;
	right: 0;
	/*bottom: 0;*/
	max-width: none;
}

.space{
	/*position: absolute;*/
	height:  500px;
}

/*.div_footer{
	margin-bottom: -50px;	
}*/

.footer_social{
	bottom:0;
	max-width: 150px;
	max-height: 160px;
	font-family: roboto 500;
	font-size: 18px;
	/*border:1px solid black;	*/
	vertical-align: bottom;
}
.a{
	text-decoration: none;
	color: black;
}
.footer_01{
	bottom: 0;
	margin-bottom: 0px;
	/*height: 65%;*/
	position: absolute;
	text-align: right;
	left: 0;
	margin-left: 345px;

}

.footer_02{ 
	bottom: 0;
	margin-bottom: 0px;
	/*height: 65%;*/
	padding-bottom: 0;
	text-align: bottom;
	position: absolute;	
	margin-left: 435PX;
	text-align: bottom;
}

.footer_03{
	bottom: 0;
	margin-bottom: 0px;
	/*height: 65%;*/
	text-align: right;
	position: absolute;
	right: 0;
	margin-right: 435px;
}

.footer_04{	
	bottom: 0;
	margin-bottom: 0px;
	/*height: 65%;*/
	position: absolute;
	right:0;
	margin-right: 275px;
}

.footer_line{
	bottom:0;
	position: absolute;
	background-color: black;
	height: 100px;
	width: 1px;
}

.footer_line_01{
	left: 0;
	margin-left: 430px;
}

.footer_line_02{
	right: 0;
	margin-right: 430px;
}






/*HISTORY*/

	

.histori_page_font_thin{	
	margin: auto;	
	word-wrap: break-word;
	/*text-align: left;*/
	font-weight:  100;
	font-size: 87px;
	/*width: 100%;*/

	/*border: 1px solid black;*/
	/*border: 1px solid black;*/
	min-height: none;


}

.histori_page_text{ 
	display: inline-block;
	margin-top: 115px;
	/*position: relative;*/
	/*margin: auto;*/
	/*width: 80%;*/
	/*border:1px solid black;*/
	display: inline-block;
	margin-top: 115px;
	/*position: relative;*/
	top: 0px;
	/*margin-left: 300px;*/
	/*align-items: center;*/
	/*min-height: 100%;*/
	
}

.histori_text_left{
	max-height: 50%;
	position: absolute;
	right:0px;
	margin-top: 2500px;
	/*margin-bottom:-800px;*/
	margin-right:  50.4%;
	width: 30%;
	font-size: 2.5em;
}


.histori_text_right{
	max-height: 50%;
	position: absolute;
	/*right:0px;*/
	margin-top: 2550px;
	/*margin-bottom:-800px;*/
	margin-left:  50%;
	width: 30%;
	font-size: 2.5em;
}


/*.histori_text{
	bottom:50px;
	margin-left: 590px;
	width: 30%;
	font-size: 2.5em;
}*/

.align_left{
	margin-left: 250px;
	text-align: left;
}

.align_text_left{
	text-align: left;
}

.align_right{
	/*margin-left: auto;*/
	position: absolute; 
  	top: 1200px; 
	right: 250px
}


.align_text_right{
	text-align: right;
}


.line{
	/*bottom:0;*/
	/*position: absolute;*/
	background-color: black;
	/*margin-top: 0px; */
	margin: auto;
	margin-top: 100px;
	height: 460px;
	width: 2px;
	/*margin-top: 2500px;*/
	/*margin-left: 50.2%; */
	/*margin-right: auto;*/
}

.code_01{
	margin-right: auto;
	font-size: 2.5em;
}

.code{
	margin-right: auto;
	font-size: 3em;
}

.to_top{
	/*position: absolute;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

.horizontal_line {
	background-color: black;
	/*margin-top: 0px; */
	margin: auto;
	/*margin-top: 100px;*/
	height: 2px;
	width: 80%;
}




.line_01{
	margin-top: -50px;
}


.calligraphy{
	font-size: 10em;
}

.calligraphy_history{
	word-break: break-all;
	font-size: 0.01em;
	text-align: left;
}







	/*margin-left: -8px;
	margin-right: -8px; 
	margin-top: 600px;
	background-color: white;
	height: 100px;*/


.img_calligraphy{
	margin: auto;
	margin-top: 600px;
	background-color: white;
	height: 700px;
	width: 80%;
	/*border: 1px solid black;*/
}

.img_calligraphy_01{
	margin: auto;
	background: url(../photo/photo/DSC_0103.jpg) no-repeat;
	width: 100%;
	height: 100%;
	/*background-color: red;*/
	/*border: 1px solid black;*/
	background-size: 100%;
	background-position: 0% 85%;
}



.gallery {
	display: flex;
	margin: auto;
  max-width: 50%;
  /*width: 1500px;*/
  height: 
  margin: 30px auto;
  flex-flow: wrap;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  /*border: 1px solid black;*/
}


.img {
	margin: auto;
	/*margin: 50px;*/
	margin-top: 20px;
	/*display: inline;*/
	width: 300px;
	height: 138px;
	border: 1px solid black;
	background-size: cover;
  background-position: center;
  /*padding-bottom: 100%;*/

}




.zamovlennya{
	/*height: 50px;*/
	/*border: 1px solid black;*/
	margin: auto;
	width: 80%;
}


.zamovlennya_text{
	position: absolute;
	/*border: 1px solid red;*/
	width: 50%;

}


.nazva{
	margin-top:-85px; 
	text-align: left;
	font-size: 6.5em;
	font-weight: 900;
	text-decoration: underline;
}


.punkty{
	width: 80%;
	font-weight: 300;
	margin-top: -80px;
	font-size: 2em;
}


.price{
	font-size: 5em;
	font-weight: 500;
	bottom:0;
	/*border: 1px solid green;*/
	/*margin-top: -30px;*/
	word-wrap: break-word;
	text-align: right;
	width: 60%;		
}

.photo_zam{
	margin-left: auto;
	width: 50%;
	/*border: 1px solid black;*/
}

.photo_zam_01{
	width: 100%;
	height: 100%;
	/*border: 1px solid yellow;*/
	background-size: 100%;
	
}